*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#main
{
    width: 100%;
    height: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1670598342794-249547599860?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main1
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
}
#main2
{
    width: 65%;
    height: 30%;
    text-align: center;
    /* background-color: rgba(18, 18, 2, 0.456); */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main3 h1
{
    color: #eeee;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 300;
    font-size: 70px;
    letter-spacing: 10px;
}
#main3 p
{
    /* padding: 20px; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    color: white;
    /* word-spacing: 2px; */
    /* letter-spacing: 1px; */
    /* background-color: rgba(55, 94, 128, 0.374); */
}
#main3 button
{
    width: 170px;
    height: 35px;
    border-radius: 5px;
    /* background-color: cadetblue; */
    background-color: transparent;
    font-size: 15px;
    color: rgb(244, 244, 244);
    border: 2px solid #eee  ;
}