*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    background-color: black;
}
.hello
{
    width: 100%;
    height: 100%;
    background-image: url("https://www.preventionweb.net/sites/default/files/styles/landscape_16_9/public/2022-08/Volcano-eruption.jpg?itok=4kqi061u");
    background-size: cover;
    background-repeat: no-repeat;
}
.hello .main
{
    position: absolute;
    top: 30%;
    right: 40%;
    font-size: 50px;
}
.hello #head{
    position: absolute;
    top: 40%;
    color: ghostwhite;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    word-spacing: 5px;
}
.hello button{
    position: absolute;
    bottom: 45%;
    right: 45%;
    width: 8%;
    height: 4%;
    color: rgb(218, 121, 51);
    border-radius: 20px;
    background-color: cornflowerblue;
    letter-spacing: 1px;
    font-weight: bold;

}
#bold
{
    font-weight: bold;
    color: rgb(236, 153, 95);
}
.hello #box #head1
{
    position: absolute;
    top: 10%;
    left: 5%;
    color: black;
    border: 50px;
    font-weight: bold;
    font-size: x-large;
    color: cornsilk;
    text-align: center;
}
.hello #box
{
    position: absolute;
    top: 10%;
    left: 2%;
    width: 15%;
    height: 15%;
    border-radius: 5px;
    background-color: rgb(202, 139, 62);
}
#hello1
{

}
