*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    
}
#main
{
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1711049689013-058802d15035?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#main1
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}
#main2
{
    width: 40%;
    height: 30%;
    text-align: center;
    /* background-color: rgba(18, 18, 2, 0.456); */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main3 h1
{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 600;
}
#main3 p
{
    padding: 20px;
    color: white;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(55, 94, 128, 0.374);
}
#main3 button
{
    width: 180px;
    height: 35px;
    border-radius: 5px;
    /* background-color: cadetblue; */
    background-color: transparent;
    font-size: 15px;
    border: 2px solid black;
    color: rgba(200, 225, 217, 0.936);
}