*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(254, 249, 239);
}
nav{
    display: flex;
    height: 10%;
    width: 100%;
    /* background-color: beige; */
}
#left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 35%;
    /* background-color: brown; */
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    width: 20%;
    /* background-color: cadetblue; */
}
#right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    height: 100%;
    width: 42%;
    /* background-color: chocolate; */
}
#left a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
#sidebox{
    position: absolute;
    top: 18%;
    left: 5%;
    height: 50%;
    width: 32%;
    /* background-color: aquamarine; */
}
.h1{
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p2{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    display: inline;
    padding: 10px 15px;
    background-color: rgb(207, 186, 186);
}
.p3{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img1{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 40%;
    border: 3px solid rgb(172, 172, 208);
}
.img2{
    position: absolute;
    top: 13%;
    left: 50%;
    width: 25%;
    transform: rotate(-25deg);
}
#rectangle{
    position: absolute;
    top: 69%;
    left: 4.5%;
    height: 32%;
    width: 90%;
    /* background-color: rgb(129, 117, 103); */
}
#left1{
    position: absolute;
    left: 1%;
    top: 2%;
    height: 95%;
    width: 23%;
    /* background-color: rgb(105, 69, 69); */
}
#left2{
    position: absolute;
    left: 26%;
    top: 2%;
    height: 95%;
    width: 23%;
    /* background-color: rgb(105, 69, 69); */
}
#right1{
    position: absolute;
    left: 51%;
    top: 2%;
    height: 95%;
    width: 23%;
    /* background-color: rgb(105, 69, 69); */
}
#last{
    position: absolute;
    left: 76%;
    top: 2%;
    height: 95%;
    width: 23%;
    /* background-color: rgb(105, 69, 69); */
}

.h2{
    font-size: 50px;
    color: black;
}
#rec1
{
    /* position: relative; */
    position: absolute;
    top: 105%;
    height: 50%;
    width: 100%;
    /* background-color: rgb(194, 194, 245); */
     background-color: rgb(218, 134, 134);
}
.img3{
    position: absolute;
    top: 101.7%;
    left: 48%;
    transform: rotate(90deg);
    width: 50px;
}
/* 2ndsection */
#left3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
}
#right3{
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 50%;
    /* background-color: aquamarine; */
}
.h4{
    position: absolute;
    top: 30%;
    left: 34%;
}
.p4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.p5{
    position: absolute;
    top: 55%;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#secondSection{
    height: 100%;
    width: 100%;
    /* background-color: white; */
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
#hun{
    position: absolute;
    top: 160%;
    height: 30%;
    width: 100%;
    /* background-color: rgb(104, 94, 94); */
}
.h6{
    font-size: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 12px;
}