*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100;
    height: 100;
    background-color: beige;
}
h1{
    position: absolute;
    left: 40%;
}
form{
    position: absolute;
    top: 8%;
    left: 42%;
}