*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    box-shadow: 0 0  10px white inset;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    background:
    /* url('https://www.transparenttextures.com/patterns/asfalt-dark.png'), */
    radial-gradient(circle at 30% 40%, #425a1a, #1c260f 40%, #0a0c06 80%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    /* background-color: rgba(39, 39, 27, 0.253); */
}
#left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blueviolet; */
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}
.a2{
    text-decoration: none;
    color: white;
}
.p2{
    font-size: 19px;
    color: white;
    font-family: cursive;
}
#box{
    position: absolute;
    /* flex-direction: column; */
    left: 4%;
    top: 14%;
    height: 78%;
    width: 37%;
    /* background-color: rgb(68, 64, 57); */
}
.h1{
    position: absolute;
    left: 23%;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
}
.p1{
    position: absolute;
    top: 10%;
    left: 27%;
    font-size: 18px;
    font-family: cursive;
    color: white;
}
.a{
   position: absolute;
   text-decoration: none;
    top: 10%;
    left: 59%;
    font-size: 18px; 
    font-family: cursive;
    color: bisque;
}
#username{
    position: absolute;
    top: 20%;
    height: 50%;
    width: 100%;
    /* background-color: rgb(91, 85, 77); */
}
.l1{
    position: absolute;
    top: 5%;
    left: 6%;   
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.l2{
    position: absolute;
    top: 40%;
    left: 6%;   
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input2{
    position: absolute;
    top: 55%;
    left: 6%;   
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 160px;
    border: 3px solid white;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input1{
    position: absolute;
    top: 20%;
    left: 6%;   
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 160px;
    border: 3px solid white;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#remfor{
    position: absolute;
    top: 72%;
    height: 10%;
    width: 100%;
    /* background-color: aquamarine; */
}
.input3{
    position: absolute;
    top: 42%;
    left: 5%;
}
.l3{
    position: absolute;
    top: 35%;
    left: 8%;
    font-family: cursive;
    color: white;
}
.a1{
    position: absolute;
    top: 35%;
    left: 72%;
    text-decoration: none;
    font-family: cursive;
    color: bisque;
}
button{
    position: absolute;
    top: 85%;
    left: 4%;
    padding: 10px 240px;
    border-radius: 30px;
    background-color: yellow;
    border: 3px solid white;
}
.img1{
    position: absolute;
    left: 50%;
    width: 700px;
    /* box-shadow: 0 0 20px white; */
}
#rec{
    position: absolute;
    top: 35%;
    left: 92%;
    height: 40%;
    width: 4%;
    /* background-color: rgb(83, 80, 77); */
}
.img2{
    width: 51px;
}
.img3{
    width: 51px;
}
.img4{
    width: 51px;
}
.img5{
    width: 60px;
}