*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
}
nav{
    position: absolute;
    top: 2%;
    display: flex;
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
}
#left-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    /* background-color: black; */
}
#center-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 25%;
    /* background-color: rgb(177, 105, 105); */
}
#heroSection{
    position: absolute;
    top: 15%;
    left:5%;
    height: 90%;
    width: 90%;
    background-color: rgba(90, 90, 202, 0.277);
    border-radius: 30px;
}
#left-nav img{
    width: 50%;
}
#center-nav a{
    text-decoration: none;
}
#select{
    padding: 10px 20px;
}
#right-nav button{
    border-radius: 20px;
    padding: 10px 35px;
    background-color: rgba(90, 90, 202, 0.544);
}
#secondSection
{
    height: 100%;
    width: 100%;
}
#select1{
    padding: 20px 40px;
}
#heroSection h1{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(38, 37, 37);
}
#heroSection p{
     position: absolute;
    top: 72%;
    left: 5%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(84, 92, 106);
}
#heroSection img{
    position: absolute;
    top: 2%;
    left: 62%;
}
/* #motion{
    position: absolute;
    top: 30%;
    left:60%;
    height: 10%;
    width: 17%;
    background-color: aqua;
    border-radius: 10px;
} */
#heroSection button{
    position: absolute;
    top: 85%;
    left: 5%;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: bisque;
}
#global{
    position: absolute;
    left: 5%;
    top: 12%;
    height: 6%;
    width: 25%;
    background-color: rgb(200, 170, 133);
    border-radius: 20px;
    border: 10px;
}
#global p{
    position: absolute;
    top: 17%;
    left: 20%;
}
#rectangle{
    position: absolute;
    top: 20%;
    left: 5%;
    height: 50%;
    width: 90%;
    background-color: rgba(246, 232, 232, 0.589);
    border-radius: 30px;
}
#secondSection{
    /* position: relative; */
    position: relative;
}
#smallrec{
    position: absolute;
    top: 5%;
    left: 1%;
    height: 90%;
    width: 26%;
    /* background-color: rgba(90, 90, 202, 0.511); */
    background-color: rgba(90, 90, 202, 0.277);
    border-radius: 15px;
}
#smallrec h1{
    position: absolute;
    top: 10%;
    left: 6%;
    font-size: 70px;
}
#smallrec h2{
    position: absolute;
    top: 35%;
    left: 6%;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#smallrec p{
    position: absolute;
    top: 70%;
    left: 6%;
    font-size: 18px;
}
#secondsmall{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 28%;
    height: 90%;
    width: 23%;
    /* background-color: rgba(243, 231, 214, 0.493); */
    border-radius: 15px;

}
#secondsmall2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 52%;
    height: 90%;
    width: 23%;
    /* background-color: rgba(243, 231, 214, 0.493); */
    border-radius: 15px;
}
#secondsmall3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 76%;
    height: 90%;
    width: 23%;
    /* background-color: bisque; */
    /* background-color: rgba(243, 231, 214, 0.493); */
    border-radius: 15px;
}
.h{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.p{
    font-size: 20px;
}
#secondSection button{
    position: absolute;
    top: 82%;
    left: 48%;
    padding: 10px 20px;
    border-radius: 20px;
}
#hh{
    position: absolute;
    left: 28%;
    top: 92%;
    font-size: 28px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
#thirdSection{
    width: 100%;
    height: 100%;
}