*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: white; */
}
#main .n1{
    display: flex;
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
}
#left{
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: flex-end;
}
#center{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    /* background-color: blue; */
}
/* #logo{
    display: flex;
    justify-content: flex-end;
} */
#logo img{
    width: 74px;
}
#center .p1{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#right{
    position: absolute;
    top: 2%;
    left: 85%;
    height: 10%;
    width: 10%;
    /* background-color: cadetblue; */
    font-size: 30px;
}
#right1{
    position: absolute;
    top: 2%;
    left: 90%;
    height: 10%;
    width: 10%;
    font-size: 30px;
}
#heroSection{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    /* background-color: burlywood; */
}
#op{
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.484);
}
#hero{
    position: absolute;
    top: 11%;
    left: 8%;
    height: 8%;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(240, 175, 219, 0.611);
}
/* #heroSection .n2{
    display: flex;
    height: 10%;
    width: 90%;
    background-color: chartreuse;
}
#leftn{
    height: 100%;
    width: 10%;
    background-color: rgb(160, 99, 18);
} */
 .n2{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
 }
#centern{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
    height: 100%;
    width: 40%;
    /* background-color: chocolate; */
}
#centern a{
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    text-decoration: none;
    /* gap: 20px; */
}
 #rightn{
    position: absolute;
    left: 85%;
    top: 25%;
    height: 8%;
    width: 14%;
    
    /* background-color: chartreuse; */
 }
#rightn button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    /* transform: rotate(-40deg); */

}
.h1{
    position: absolute;
    left: 40%;
    top: 30%;
    color: rgb(236, 204, 204);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* transform: translate(-50%,-50%); */
}
.p2{
    position: absolute;
    left: 30.5%;
    top: 38%;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
#half{
    position: absolute;
    top: 55%;
    left: 2%;
    height: 50%;
    width: 96%;
    border-radius: 5px;
    /* background-color: aqua; */
    background-color: whitesmoke;
    /* background-color: cadetblue; */
    border: 2px solid cadetblue;
}
#half1{
    position: absolute;
    top: 3%;
    left: 10%;
    width: 23%;
    height: 75%;
    background-color: blanchedalmond;
    border-radius: 10px;
}
#half2{
    position: absolute;
    top: 3%;
    left: 38%;
    width: 23.5%;
    height: 75%;
    background-color: blanchedalmond;
    border-radius: 10px;
}
#half3{
    position: absolute;
    top: 3%;
    left: 67%;
    width: 23%;
    height: 75%;
    background-color: blanchedalmond;
    border-radius: 10px;
}
.h2{
    position: absolute;
    top: 20%;
    left: 34%;
    font-size: 100px;
}
.p3{
    position: absolute;
    left: 4%;
    top: 60%;
    text-align: center;
}