*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}
#main{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* align-items: center; */
    /* justify-content: center; */
}
#main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.wallpapersden.com/image/download/daredevil-hd-comic-art_bWltbmiUmZqaraWkpJRmbmdlrWZlbWU.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
}
#left-nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 10%;
    width: 20%;
    /* background-color: blueviolet; */
}
#center-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 28%;
    /* background-color: cadetblue; */
}
#logo .img2{

    height: 150px;
    padding: 25px 16px;
}
#center-nav nav {
    width: 100%;
    /* word-spacing: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#center-nav nav a{
    text-decoration: none;
    color: white;
}
#main .img1{
    position: absolute;
    top: -6%;
    left: 40%;
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    /* position: absolute;
    left: 80%; */
    height: 10%;
    width: 45%;
    /* background-color: blue; */
}
#right-nav img{
    /* position: absolute;
    top: 10px; */
    width: 30px;
}
#right-nav .p{
    font-size: 13px;
    color: aliceblue;
}
#right-nav #imgg{
    width: 20px;
    height: 15px;
    /* font-size: 10px; */
    /* background-color: yellow; */
}
#right-nav #imgg img{
    height: 100%;
    width: 100%;
}
#box{
    padding: 10px 60px;
    height: 50%;
    width: 40%;
    /* background-color: blue; */
}
#box{
    position: absolute;
    top: 25%;
}
#box .p1{
    padding-left: 3px;
    font-size: 18px;
    color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box .p2{
    /* word-spacing: 7px; */
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}
#button{
    display: flex;
    align-items: center;
    gap: 22px;
    /* justify-content: space-between; */
    height: 20%;
    width: 100%;
    /* background-color: blue; */
}
#button button{
    padding: 12px 60px;
    border-radius: 20px;
    border: 1px solid white;
}
#box #b1{
    background-color: red;
    color: white;
    border: none;
}
#button #b2{
    background-color: transparent;
    color: aliceblue;
}
#box h1{
    color: white;
    font-size: 60px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button #b3{
    padding: 10px ;
    border-radius: 5px;
}