* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(225, 225, 193);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    position: relative;
    height: 100%;
    width: 70%;
    background-color: rgb(241, 246, 252);
}

nav {
    display: flex;
    height: 10%;
    width: 100%;
    /* background-color: cadetblue; */
}

#left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    /* background-color: burlywood; */
}

#left .ri-user-fill {
    font-size: 35px;
}

.ri-add-box-fill {
    font-size: 38.5px;
}

#center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    height: 100%;
    width: 50%;
    /* background-color: chartreuse; */
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: black;
}

.b1 {
    position: absolute;
    top: 2%;
    left: 75%;
    padding: 8px 28px;
    border-radius: 30px;
    border: 3px solid rgb(170, 245, 247);
    background-color: rgb(250, 248, 246);
}

.b2 {
    position: absolute;
    top: 2.1%;
    left: 85%;
    padding: 9px 28px;
    border-radius: 30px;
    background-color: rgb(184, 235, 237);
    border: none;
}

#rec {
    position: absolute;
    top: 13%;
    left: 4%;
    height: 40%;
    width: 90%;
    background-image: url("./image.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    opacity: 0.7;
}

.h1 {
    position: absolute;
    top: 23%;
    left: 6%;
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    position: absolute;
    top: 42%;
    left: 6%;
    font-family: serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
}

.p2 {
    position: absolute;
    top: 65%;
    left: 26%;
    font-weight: 600;
    font-size: 18px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo img {
    position: absolute;
    left: 63%;
    top: -21.2%;
    width: 230px;

}

#rec1 {
    position: absolute;
    top: 55%;
    left: 3%;
    height: 40%;
    width: 91%;
    border-radius: 20px;
    /* background-color: blueviolet; */
}

.h4 {
    font-size: 25px;
    position: absolute;
    left: 38.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#left1 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 4%;
    left: 1%;
    height: 90%;
    width: 36%;
    border-radius: 10px;
    /* background-color: blue; */
}

#double {
    position: absolute;
    top: 16%;
    height: 70%;
    width: 49%;
    border-radius: 20px;
    /* background-color: burlywood; */
}

#double1 {
    position: absolute;
    top: 16%;
    left: 51%;
    height: 71%;
    width: 50%;
    border-radius: 20px;
    /* background-color: rgb(94, 86, 75); */
}

.h2 {
    position: absolute;
    left: 4%;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b3 {
    position: absolute;
    top: 88%;
    left: 1%;
    padding: 12px 135px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    border: none;
}

#double img {
    border: 3px solid rgb(203, 203, 242);
    height: 100%;
    width: 170px;
    border-radius: 25px;
}

#double1 img {
    border: 3px solid rgb(203, 203, 242);
    border-radius: 25px;
    height: 100%;
    width: 170px;
}

#center2 {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 13%;
    left: 38%;
    height: 87%;
    width: 22%;
    /* background-color: rgb(224, 239, 240); */
    backdrop-filter: blur(80px);
    border-radius: 10px
}

#sq1 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 98%;
    background-color: rgba(104, 197, 203, 0.751);
    border-radius: 10px;
}

.ri-search-line {
    font-size: 26px;
    color: white;
}
.p9{
    padding-left: 5px;
    font-weight: 500;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sq1 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 100%;
    /* background-color: rgba(104, 197, 203, 0.751); */
    background-color: rgba(105, 219, 227, 0.751);
    border-radius: 10px;
}

#sq2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 100%;
    background-color: rgba(104, 197, 203, 0.751);
    border-radius: 10px;
}

#sq3 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 100%;
    /* background-color: rgba(104, 197, 203, 0.751); */
    background-color: rgba(90, 141, 145, 0.751);
    /* background-color: rgba(0, 0, 0, 0.441); */
    border-radius: 10px;
}

#sq4 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 100%;
    /* background-color: rgba(104, 197, 203, 0.751); */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.441);
}

#sq5 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 18%;
    width: 100%;
    background-color: rgba(80, 114, 116, 0.751);
    border-radius: 10px;
}

#right2 {
    position: absolute;
    left: 62%;
    height: 100%;
    width: 15%;
    /* background-color: cadetblue; */
}

#boxx1 {

    height: 45%;
    width: 100%;
    background-color: burlywood;
}

#en {
    background-image: url(./en.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#boxx1 #en img {
    width: 130px;
}

.ri-bookmark-fill {
    position: absolute;
    top: -5%;
    left: -7%;
    font-size: 25px;
}

.ri-arrow-up-circle-fill {
    position: absolute;
    top: 48%;
    left: -7%;
    font-size: 27px;
}

/* #ri-bookmark-fill2{
    position: absolute;
    top: 80%;
    left: -7%;
    font-size: 25px;
} */
#boxx2 {
    margin-top: 27px;
    height: 45%;
    width: 100%;
    background-color: burlywood;
}

#im {
    background-image: url(./im.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#boxx2 #im img {
    width: 145px;
}

#right22 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 79%;
    height: 100%;
    width: 20%;
    /* background-color: rgb(224, 239, 240); */
    backdrop-filter: blur(80px);
    border-radius: 10px
}
#square1{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 8px;
    height: 30%;
    width: 100%;
    /* background-color: rgba(105, 219, 227, 0.751); */
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
}
#star img{
    width: 60px;
}
#headin{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
    /* background-color: chocolate; */
}
h3{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p10{
    padding-top: 6px;
    font-size: 8px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#square2{
    display: flex;
    align-items: center;
    padding-left: 8px;
    height: 30%;
    width: 100%;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
}
#flower img{
    width: 60px;
}
#square3{
    display: flex;
    align-items: center;
    padding-left: 8px;
    height: 30%;
    width: 100%;
    /* background-color: rgba(105, 219, 227, 0.751); */
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
}
#aka img{
    width: 60px;
}
