* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgb(252, 249, 249);
}
#left {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 120px;
    height: 100%;
    width: 50%;
    /* background-color: brown; */
}

#left nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 20px;
    height: 10%;
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 20px;
}

#left nav #circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    /* background-color: rgb(163, 147, 125); */
    border-radius: 50%;
    border: 3px solid rgb(66, 62, 62);
}

#circle #logo .p1 {
    font-size: 25px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu {
    display: flex;
    gap: 80px;
    padding: 80px;
}

#menu a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section2 {
    padding-left: 70px;
    height: 89%;
    width: 100%;
    /* background-color: chocolate; */
}

/* #heading */

#section2 #heading h1 {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section2 #heading .p2 {
    margin-top: -20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#dot {
    position: relative;
    height: 25%;
    width: 100%;
    /* background-color: cadetblue; */
}

.circlee {
    position: absolute;
    top: 48%;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgb(43, 42, 43);
}

h3 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head .p3 {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

#scroll {
    position: relative;
    display: flex;
    align-items: last baseline;

    height: 30%;
    width: 100%;
    /* background-color: blue; */
}

#scroll #mouse {
    height: 40px;
    width: 20px;
    border-radius: 10px;
    /* background-color: black; */
    border: 3px solid black;
}

#scrol {
    margin-top: 3px;
    margin-left: 5px;
    height: 15px;
    width: 5px;
    border-radius: 10px;
    background-color: black;
}

.p4 {
    position: absolute;
    left: 29px;
    bottom: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#right {
    /* background-color: white; */
    position: relative;
    height: 100%;
    width: 45%;
    /* background-color: rgb(129, 112, 112); */
}
h2{
    position: absolute;
    top: -24%;
    left: 12%;    
    margin-left: 40px;
    font-size: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(248, 243, 243, 0.833);
    /* background-color: white; */
}

#right #side {
    margin-top: 29%;
    margin-left: 90%;
    height: 40%;
    width: 10%;
    /* background-color: rgb(181, 166, 166); */
}

#side #one {
    margin-left: 20px;
    height: 25px;
    width: 25px;
    /* background-color: blueviolet; */
    /* border:1px solid rgb(253, 250, 250); */
    border-radius: 50%;
}

#one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p5 {
    /* color: white; */
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#seccir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /* background-color: black; */
    border: 3px solid black;
}

#cir {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
    /* border: 3px solid black; */
}

#thirdcir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
    /* border: 3px solid black; */
}

#fourthcir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
}

#fifthcir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25.5px;
    margin-top: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
}

#sixthcir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25.5px;
    margin-top: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
}

#last {
    margin-top: 10px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo .img2 {
    position: absolute;
    transform: rotate(-12deg);
    top: 90%;
    left: 90%;
    width: 60px;
}

.img1 {
    position: absolute;
    top: 6%;
    left: 30%;
    width: 50%;
    filter: grayscale(90%);
}

#small1 {
    position: absolute;
    top: 80%;
    left: 70%;
    height: 9%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(12px);

}

#small2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 60%;
    height: 9%;
    width: 17%;
    /* background-color: rgb(116, 133, 133); */
    /* border: 3px solid black; */
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(12px);
}

/* #small1 #circ {

    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(117, 116, 116);
} */

.p6 {
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}