*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main
{
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1698369235900-95e82dbc5e5d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}
#main1
{
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.629);
}
#main2
{
    position: absolute;
    top: 20%;
    left: 8%;
    height: 50%;
    width: 40%;
    /* background-color: aqua; */
}
#main2 .p1 {
    position: absolute;
    left: 2%;
    letter-spacing: 10px;
    font-size: 28px;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main2 h1
{    
    font-size: 180px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    margin-top: 3%;
    color: beige;
}
#main2 .p2
{
    position: absolute;
    left: 2%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}
#main0
{
    position: absolute;
    top: 1%;
    left: 50%;
    height: 5%;
    width: 60%;
    /* background-color: rgba(0, 0, 0, 0.445); */
    border-radius: 10px;
}
#main01 nav 
{
    color: bisque;
    margin-top: 1%;
    margin-left: 1%;
    word-spacing: 30px;
    letter-spacing: 10px;
}
#main01 nav button
{
    height: 30px;
    width: 70px;
    background-color: transparent;
    border-radius: 4px;
    border-color: cadetblue;
    color: aliceblue;
}