body 
{
    background-color: burlywood;
}
h1
{
    background-color: aqua;
    border: 3px solid black;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 4px;
}
h2
{
    background-color: rgb(161, 150, 237);
    border: 3px solid black;
    text-align: center;
    border-radius: 15px;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
}
#hello
{
    font-weight: bold;
}
#hello1
{
    font-weight: bold;
    color: indigo;
}
#t1
{
    font-style: oblique;
    word-spacing: 5px;
}
img
{
    border:4px solid black;
    margin: auto;
}