* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    margin-left: 27%;
    height: 100%;
    width: 45%;
    background-color: rgb(36, 36, 47);
}

#box1 {
    border: 2px solid grey;
    position: relative;
    height: 50%;
    width: 100%;
    /* background-color: burlywood; */
}

#middle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 100%;
    /* background-color: aquamarine; */
}

#img1 img {
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 45%;
    width: 42%;
}

#heading {
    z-index: 1;
    position: absolute;
    margin-left: 80px;
    top: 25%;
    height: 75%;
    width: 40%;
    /* background-color: blueviolet; */
}

.h3 {
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#head {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 60%;
    width: 100%;
    /* background-color: chocolate; */
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: -5px;
    height: 10%;
    width: 40%;
    /* background-color: chartreuse; */
}

#icon i {
    color: rgb(162, 162, 235);
    font-size: 24px;
}

#icon p {
    font-size: 10px;
    font-weight: 700;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.n2 i {
    font-size: 12px;
    color: white;
}

#para {
    display: flex;
    gap: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(149, 149, 221);
    margin-top: 10px;
    height: 10%;
    width: 100%;
    /* background-color: blue; */
}

#box2 {
    border: 2px solid grey;
    position: relative;
    height: 50%;
    width: 100%;
    /* background-color: rgb(206, 142, 58); */
}

.n1 {
    display: flex;
    height: 20%;
    width: 100%;
    /* background-color: chartreuse; */
}

#left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: rgb(179, 165, 147); */
}

#left #circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    /* background-color: blueviolet; */
    border-radius: 50%;
    border: 2px solid rgb(84, 81, 81);
}

h2 {
    color: white;
    font-weight: 500;
    padding: 3px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    width: 60%;
    /* background-color: rgb(68, 41, 6); */
}

#center a {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 12px;
}

#right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: rgb(179, 165, 147); */
}

.n2 {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    height: 30%;
    width: 10%;
    /* background-color: chartreuse; */
}
.n4 i{
    font-size: 12px;
    color: white;
}
#line {
    position: absolute;
    top: 92%;
    left: 80%;
    height: 2px;
    width: 16%;
    background-color: rgb(117, 114, 114);
}

#user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* background-color: blanchedalmond; */
}

#user img {
    width: 27px;
}

.p1 {
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#middle2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    height: 35%;
    width: 100%;
    /* background-color: aquamarine; */
}

#img2 img {
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 50%;
    width: 30%;
}

.h1 {
    font-size: 140px;
    font-weight: 750;
    letter-spacing: 10px;
    color: rgba(47, 48, 59, 0.434);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.n3 {
    display: flex;
    height: 20%;
    width: 100%;
    /* background-color: chocolate; */
}

#left1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: cadetblue; */
}
#circle1{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    /* background-color: blueviolet; */
    border-radius: 50%;
    border: 2px solid rgb(84, 81, 81);
}
#center1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    height: 100%;
    width: 60%;
    /* background-color: rgb(45, 54, 54); */
}
#center1 a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 12px;
}
#right1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: rgb(4, 42, 44); */
}
.n4{
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    height: 30%;
    width: 10%;
}
#heading1{
    z-index: 1;
    position: absolute;
    margin-left: 80px;
    top: 25%;
    height: 75%;
    width: 40%;
}
#head1{
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;
}
#para1{
    display: flex;
    gap: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(149, 149, 221);
    margin-top: 10px;
    height: 10%;
    width: 100%;
}
#icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: -5px;
    height: 10%;
    width: 40%;
}
#icon1 i{
    color: rgb(162, 162, 235);
    font-size: 24px;
}
#icon1 p{
    font-size: 10px;
    font-weight: 700;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}