*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(169, 167, 164);
}
#main{
    height: 95%;
    width: 90%;
    background-color: aliceblue;
    border-radius: 20px;
}
nav{
    display: flex;
    position: absolute;
    top: 5%;
    left: 5.9%;
    height: 8.5%;
    width: 88%;
    /* background-color: rgb(232, 223, 240); */
    background-color: rgb(221, 240, 234);
    border-radius: 15px;
}
.img5{
    position: absolute;
    left: 50%;
    top: 14%;
    width: 440px;
}
.img6{
    position: absolute;
    left: 80%;
    top: 14.2%;
    /* height: 80%; */
    height: 461px;
    width: 210px;
}
#left{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 30%;
    /* background-color: aquamarine; */
}
#logo .img1{
    width: 50px;
}
.p1{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 40%;
    /* background-color: chartreuse; */
}
#center a{
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
#right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
    /* background-color: chocolate; */
}
.b1{
    padding: 7px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
}
.b2{
    padding: 4px;
    border-radius: 30px;
    background-color: black;
    transform: rotate(-38deg);
}
.img2{
    height: 20px;
    width: 25px;
}
#square{
    position: absolute;
    top: 16%;
    left: 5.9%;
    height: 60%;
    width: 43%;
    /* background-color: brown; */
}
#rec{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    position: absolute;
    left: 1%;
    height: 70%;
    width: 95%;
    background-color: rgb(73, 104, 104);
    border-radius: 20px;
}
#s1{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 72%;
    left: 1%;
    height: 28%;
    width: 45%;
    /* background-color: rgb(133, 95, 95); */
    background-color: rgb(221, 240, 234);
    border-radius: 20px;
}
#s2{
    position: absolute;
    top: 72%;
    left: 50%;
    height: 28%;
    width: 45%;
    /* background-color: rgb(133, 95, 95); */
    background-color: rgb(221, 240, 234);
    border-radius: 20px;
}
.p2{
    position: absolute;
    left: 4%;
    top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
}
.h1{
    position: absolute;
    left: 4%;
    top: 14%;
    font-size: 55px;
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p3{
    position: absolute;
    top: 58%;
    left: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
}
#f1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
    width: 30%;
    /* background-color: burlywood; */
}
#f2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
    width: 30%;
    /* background-color: burlywood; */
}
#f3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
    width: 30%;
    /* background-color: burlywood; */
}
.h2{
    /* position: absolute;
    top: 4%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p4{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h3{
    position: absolute;
    top: 77%;
    left: 40%;
    font-size: 43px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.7;
}
#rec1{
    position: absolute;
    top: 88%;
    left: 6%;
    height: 15%;
    width: 88%;
    /* background-color: burlywood; */
}
#rec1{
    display: flex;
    justify-content: space-evenly;
}
#im1 img{
   width: 150px;
   opacity: 0.5;
}
#im2 img{
    width: 120px;
    opacity: 0.6;
}
#im3 img{
    width: 110px;
    opacity: 0.4;
}
#im4 img{
    width: 110px;
    opacity: 0.5;
}
#im5 img{
    width: 130px;
    opacity: 0.6;
}
#im6 img{
    width: 120px;
    opacity: 0.5;
}
#logoo img{
    position: absolute;
    top: 20%;
    left: 4%;
    width: 150px;
}
#sidebox{
    position: absolute;
    top: 45%;
    left: 54%;
    height: 40%;
    width: 40%;
    /* background-color: chocolate; */
}
.h10{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p8{
    font-weight: 300;
}
#special img{
    position: absolute;
    top: 50%;
    left: 4%;
    width: 120px;
}
.b3{
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 8px 30px;
    border-radius: 30px;
    background-color: orange;
    color: white;
    border: none;
}
.b4{
    position: absolute;
    top: 80%;
    left: 30.3%;
    padding: 4px;
    border-radius: 30px;
    background-color: orange;
    /* transform: rotate(-30deg); */
    border: none;
}